#a1{
	background-color:red;
	margin-bottom:30px;
}
#a2{
	margin-bottom:30px;
}
#a3{
	margin-bottom:30px;
}
#a4{
	margin-bottom:30px;
}
#a7{
	margin-bottom:30px;
    text-align: center;
}
#a9{
	padding:555px,50px,100px;
}
